*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quiz-container{
    
    min-height: 50vh;
    max-width: 600px;
    margin: 130px auto;
    padding: 2rem;
    background-color: bisque;   
    border-radius: 15px;
}

.quiz-container h2, h1{
    text-align: center;
}

.quiz-container p{
    margin: 8px;
}
.quiz-container ul li{
    list-style: none;
    padding: 5px;
    margin: 7px;
    cursor: pointer;
}

 ul li label {
    cursor: pointer;
}
.button-box{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.button-box button {
    width: calc(70% - 15px);
    cursor: pointer;
    padding: 10px 10px;
    font-size: 15px;
}
 .button-box .submit-btn{
    display:  none;
 }
